/* ---------Shared Item--------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* ---------Shared Item Ended--------- */

/* ***Navbar Sexction Start*** */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.nav-title img {
    width: 30%;
}

.nav-title h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.pink {
    color: #FF42A5;
}

.nav-item ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item ul li {
    list-style: none;
    padding: 0px 20px;
    cursor: pointer;
}

.nav-item ul li:last-child {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 12px;
}

/* ***Navbar Sexction End** */

/* ***Banner Section Start*** */
.banner {
    background-image: url('./asset/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: left;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 200px;
    gap: 20px;
}

.banner-text h2 {
    color: #0B0223;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-text h1 {
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.small-text {
    color: #534C64;
    font-size: .8rem;
    font-weight: 300;
    padding: 5px 0px;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.btn-1 {
    display: inline-flex;
    padding: 12px 30px;
    align-items: flex-start;
    border-radius: 48px;
    font-size: 1.4rem;
    font-weight: 500;
    border: none;
    color: #FFF;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    cursor: pointer;
}
.btn-2 {
    display: inline-flex;
    padding: 12px 30px;
    font-size: 1.3rem;
    font-weight: 500;
    align-items: flex-start;
    border-radius: 48px;
    border: none;
    color: #FFF;
    background: #4EC5F7;
    cursor: pointer;
}
.banner-img {
    max-width: 50%;
}
.banner-img img {
    height: 100%;
    width: 100%;
}
/* ***Banner Section Ended*** */

/* ***Online Section Start*** */
.online-content {
    text-align: center;
    padding: 30px 0px;
}

.content-title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 10px;
}

.pink-gray {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online {
    padding: 20px 200px;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.game-photo {
    text-align: center;
}

.game-photo .img-wrapper {
    position: relative;
    overflow: hidden;
}

.game-photo .overlay {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all .4s ease;
    opacity: 0;
}

.game-photo .social-link {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .4s ease;
    opacity: 0;
}

.game-photo:hover .overlay {
    opacity: 1;
    top: 0;
}

.game-photo:hover .social-link {
    opacity: 1;
    top: 50%;
}

.social-link {
    color: #F948B2;
    font-weight: 500;
    font-size: 1.2rem;
}

.social-link i {
    color: #FFF;
    font-size: 1.8rem;
}

.content .small-text {
    margin-top: 15px;
    font-weight: 500;
    text-align: center;
}

.img-wrapper img {
    width: 250px;
    height: 300px;
}

/* ***Online Section Ended*** */


/* ***Play Section Start*** */
.play {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    padding: 10px 150px;
}

.play-text {
    max-width: 300px;
    padding-left: 100px;
}

.play-text .small-text {
    text-align: right;
}

.play-title {
    text-align: right;
    font-size: 2.2rem;
    font-weight: 700;
    padding-bottom: 10px;
}

.play-img {
    max-width: 500px;
    padding-left: 100px;
    padding-top: 50px;
}

.play-img>img {
    width: 100%;
}

.relative {
    position: relative;
    height: 200px;
    width: 200px;
    bottom: 170px;
    right: 70px;
}

.relative img {
    width: 100%;
}

/* ***Play Section Ended*** */


/* ***Logo Section Start*** */
.logo {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 200px;
    padding-top: 0px;
    gap: 20px;
    position: relative;
    bottom: 80px;
}

.logo-text {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    transition: all ease-in 0.2s;
}

.logo-text:hover {
    border: 1px solid palevioletred;
    border-radius: 50px;
    background: #FFF;
    color: #F948B2;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
}

/* ***Logo Section Ended*** */


/* ***Footer Section Start***  */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    background: #0B0223;
    padding: 10px 200px;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #FFF;
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 700;
}
.footer-title img{
    width: 15%;
}

.text {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    align-items: flex-start;
    gap: 20px;
}

.text p {
    color: #FFF;
}

.icon {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px 100px;
    align-items: flex-start;
    font-size: 2rem;
}

.policy {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
    padding: 10px 20px;
}

.policy p {
    color: rgba(255, 255, 255, 0.60);
}

.last-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ***Footer Section Ended***  */
.hide{
    display: none;
}


/* ***Media Query Start*** */
@media screen and (max-width:576px) {
    .navbar {
        padding: 20px;
        flex-direction: column;
        text-align: center;
    }
    .nav-item ul {
        padding-top: 10px;
        flex-direction: column;
    }
    .nav-item ul li {
        padding-top: 15px;
    }
    .banner {
        padding: 10px 10px;
        gap: 20px;
        flex-direction: column-reverse;
    }
    .banner-img {
        max-width: 70%;
    }
    .online {
        padding: 10px 10px;
        flex-direction: column;
    }
    .game-photo .overlay {
        left: 18%;
        width: 64%;
    }
    .play {
        gap: 20px;
        padding: 10px 10px;
        flex-direction: column;
    }

    .play-text {
        max-width: 340px;
        padding-left: 0px;
    }

    .play-title {
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 10px;
    }

    .play-text .small-text {
        text-align: center;
    }

    .play-img>img {
        width: 90%;
    }

    .relative {
        bottom: 110px;
        right: 50px;
    }

    .relative img {
        width: 80%;
    }
    .logo {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 10px;
        bottom: 10px;
    }

    .logo-text {
        font-size: .8rem;
    }
    .footer-title {
        gap: 10px;
        font-size: 1rem;
    }
    .text {
        text-align: center;
        grid-template-columns: repeat(3, 1fr);
        padding: 0px;
        align-items: center;
        gap: 10px;
    }
    .icon {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 10px 100px;
        align-items: flex-start;
        font-size: xx-large;
        gap: 30px;
    }
    .policy {
        grid-template-columns: repeat(2, 1fr);
    }
    .last-text {
        flex-direction: column;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .banner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 10px; 
        gap: 2px;
    }
    .online {
        padding: 20px 10px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        justify-content: space-between;
    }
    .game-photo .overlay {
        left: 18%;
        width: 64%;
    }
    .play {
        gap: 10px;
        padding: 10px 60px;
    }
    .play-text {
        max-width: 350px;
        padding-left: 15px;
    }
    .play-title {
        text-align:center;
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 10px;
    }

    .logo {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 0px 60px;
        gap: 90px;
    }
    .text{
        gap:50px;
    }
    .icon{
        font-size: 2rem;
        padding: 10px 0px;
    }
    
}